<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoDS</servlet-name>
        <servlet-class>controller.HoDS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>controller.admin.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayerServlet</servlet-name>
        <servlet-class>controller.admin.AddPlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>/EditPlayerServlet</servlet-name>
        <servlet-class>controller.admin.EditPlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.admin.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepassServlet</servlet-name>
        <servlet-class>controller.admin.RepassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerDetailServlet</servlet-name>
        <servlet-class>controller.PlayerDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingPlayerServlet</servlet-name>
        <servlet-class>controller.BookingPlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlMovieServlet</servlet-name>
        <servlet-class>controller.AlMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlayerServlet</servlet-name>
        <servlet-class>controller.admin.DeletePlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <servlet-class>controller.admin.DeleteBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameList</servlet-name>
        <servlet-class>controller.admin.GameListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateGameForm</servlet-name>
        <servlet-class>controller.admin.updateGameForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateGame</servlet-name>
        <servlet-class>controller.admin.updateGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addGameForm</servlet-name>
        <servlet-class>controller.admin.addGameForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addGame</servlet-name>
        <servlet-class>controller.admin.addGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteGame</servlet-name>
        <servlet-class>controller.admin.deleteGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaderBoardServlet</servlet-name>
        <servlet-class>controller.LeaderBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMainProfileServlet</servlet-name>
        <servlet-class>controller.UserMainProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>controller.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.EditProfileServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoDS</servlet-name>
        <url-pattern>/HoDS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayerServlet</servlet-name>
        <url-pattern>/admin/addplayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>/EditPlayerServlet</servlet-name>
        <url-pattern>/admin/editplayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepassServlet</servlet-name>
        <url-pattern>/repass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerDetailServlet</servlet-name>
        <url-pattern>/playerdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingPlayerServlet</servlet-name>
        <url-pattern>/bookingplayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlMovieServlet</servlet-name>
        <url-pattern>/allmovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlayerServlet</servlet-name>
        <url-pattern>/deleteplayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <url-pattern>/deletebooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameList</servlet-name>
        <url-pattern>/GameList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateGameForm</servlet-name>
        <url-pattern>/updateGameForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateGame</servlet-name>
        <url-pattern>/updateGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addGameForm</servlet-name>
        <url-pattern>/addGameForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addGame</servlet-name>
        <url-pattern>/addGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteGame</servlet-name>
        <url-pattern>/deleteGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaderBoardServlet</servlet-name>
        <url-pattern>/leaderboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMainProfileServlet</servlet-name>
        <url-pattern>/usermainprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
